body {
  background-image: url('https://img.freepik.com/free-photo/movie-background-collage_23-2149876028.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
  /* NAVBAR */
  .fa-star {
    color: rgb(253, 206, 35); 
  }
  
  .site-name {
    color: rgb(233, 198, 44); 
    position: absolute;
    top: 0px;
  }
  
  /* Movie card*/
  .card {
    border: 0;
    background: radial-gradient(
      circle at 10% 20%,
      rgb(104, 8, 8) 0%,
      rgb(104, 8, 8) 90.2%
    );
    box-shadow: 0px 16px 24px 2px hsla(73, 51%, 66%, 0.14),
      0px 6px 30px 5px hsla(0, 0%, 0%, 0.12),
      0px 8px 10px -5px hsla(0, 0%, 0%, 0.2);
  }
  
  .card-text {
    text-align: justify;
    font-size: 1.1rem;
    font-weight: 400;
    color: rgb(232, 233, 243);
  }
  
  .info-type {
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(253, 206, 35);
  }
  
  .information {
    font-weight: 500;
    font-size: 0.9em;
    color: #7dabef;
  }
  
  
  /* Responsiveness */
  @media screen and (max-width: 767px) {
    #poster {
      margin-top: 1rem;
      border-radius: 5px !important;
    }
  }
  
  @media screen and (max-width: 576px) {
    #title {
      font-size: x-large;
    }
  
    h6 {
      font-size: medium;
    }
  
    h5 {
      font-size: medium;
    }
  
    #poster {
      margin-top: 0px;
      width: 100%;
    }
  }
